{% extends 'main.html' %}
{% block content %}
    <h2>Add Destination to Travel</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ destination_form.as_p }}
        <h2>Add Transport</h2>
        {{ transport_form.as_p }}
        <h2>Add Accommodation</h2>
        {{ accommodation_form.as_p }}
        <h2>Add Tourist Places</h2>
        {{ turists_places_form.as_p }}
        <h2>Add Activities</h2>
        {{ activity_form.as_p }}

        <button type="submit" class="btn btn-primary">Save</button>
    </form>
{% endblock %}