{% extends 'main.html' %}
{% block content %}
    <div class="center-element login-form top">
        <h2>Add Transport</h2>
        <form method="post" action="{% url 'add_transport' travel_id=travel.id %}">
        {% csrf_token %}
            <label for="transport_name">Name:</label>
            <input type="text" id="transport_name" name="transport_name" required>

            <label for="transport_description">Description:</label>
            <textarea id="transport_description" name="transport_description" required></textarea>

            <label for="transport_cost">Transport Cost:</label>
            <input type="number" id="transport_cost" name="transport_cost" required>

            <button type="submit">Next: Destination</button>
        </form>
    </div>
{% endblock %}