{% extends 'main.html' %}
{% block content %}
    <h2>Latest Five Travels</h2>
  <table class="table form-label">
    <thead>
      <tr>
        <th>Title</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for travel in latest_travels %}
        <tr>
          <td>{{ travel.title }}</td>
          <td>{{ travel.start_date }}</td>
          <td>{{ travel.end_date }}</td>
          <td class="btn-group">
            <a  class="btn btn-success td-new" href="">Details</a>
            <a class="btn btn-warning td-new" href="">Edit</a>
            <a class="btn btn-danger td-new" href="">Delete</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}