{% extends 'main.html' %}
{% block content %}
    <h2>Travel Details</h2>
    <h3>{{ travel.title }}</h3>
    <p>Start date: {{ travel.start_date }}</p>
    <p>End date: {{ travel.end_date }}</p>
    <p>Participants: {{ travel.participants }}</p>

    <h2>Destinations</h2>
    {% for destination in travel.destination.all %}
        <h3>{{ destination.destination_name }}</h3>
        <p>Description: {{ destination.destination_description }}</p>
        <p>Start date: {{ destination.start_date }}</p>
        <p>End date: {{ destination.end_date }}</p>

        {% if destination.transport %}
            <h4>Transport</h4>
            <p>Name: {{ destination.transport.transport_name }}</p>
            <p>Description: {{ destination.transport.transport_description }}</p>
            <p>Transport cost: {{ destination.transport.transport_cost }}</p>
        {% endif %}

        {% if destination.accommodation %}
            <h4>Accommodation</h4>
            <p>Name: {{ destination.accommodation.accommodation_name }}</p>
            <p>Description: {{ destination.accommodation.accommodation_description }}</p>
            <p>Address: {{ destination.accommodation.accommodation_address }}</p>
            <p>Price per night: {{ destination.accommodation.price_per_night }}</p>
        {% endif %}

        {% if destination.turists_places %}
            <h4>Turists Places</h4>
            <p>Description: {{ destination.turists_places.turists_places_description }}</p>
        {% endif %}

        <h4>Activities</h4>
        <ul>
        {% for activity in destination.activity.all %}
            <li>{{ activity.name }}</li>
        {% endfor %}
        </ul>
    {% endfor %}

    <a href="{% url 'edit_travel' travel.id %}" class="btn btn-primary" >Edit</a>
    <a href="{% url 'travel_delete' travel.id %}" class="btn btn-danger">Delete</a>
    <a href="{% url 'main' %}" class="btn btn-secondary">Back</a>
{% endblock %}